# Dependencies
vendor
node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log
/logs

# Storage
/storage

# Build
/dist
/build

# Environment
.env
.env.*

# Docker
.dockerignore
Dockerfile

# Documentation
*.md

# Frontend
frontend

# Database
database
